{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %} {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <style>
        small { font-size: smaller !important; font-weight: normal; }
        .errorlist           { display: inline-block; }
        .errorlist li        { display: inline-block; }
        .errorlist li:before { content: "" }

        .m-extract th               { text-align: center; }
        .m-extract td:nth-child(3)  { border-left: solid #DDDDDD 1px; }

        .m-extract .ok      { color: #6EB400; }
        .m-extract .warning { color: #ff5003; }
        .m-extract .fail    { color: #E71D32; }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="../../">Testing</a>
            &rsaquo; <a href="../">Commands</a>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
    {% block object-tools %}
        {% if change %}
            {% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                        </li>
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                        {% endif%}
                    {% endblock %}
                </ul>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% if result.status %}
        <h1>M-Extract Summary</h1>
        <table>
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Commands Analyzed</td>
                    <td>{{ result.summary.command_count }}</td>
                </tr>
                <tr>
                    <td>Ok Count</td>
                    <td>{{ result.summary.ok_count }}</td>
                </tr>
                <tr>
                    <td>Fail Count</td>
                    <td>{{ result.summary.fail_count }}</td>
                </tr>
                <tr>
                    <td>Warning Count</td>
                    <td>{{ result.summary.warning_count }}</td>
                </tr>
            </tbody>
        </table>
        <h1>M-Extract Results</h1>
        <table class="m-extract">
            <thead>
                <tr>
                    <th colspan="2">Summary</th>
                    <th colspan="4">Man Page Sections</th>
                </tr>
                <tr>
                    <th>Command</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Synopsis</th>
                    <th>Description</th>
                    <th>See Also</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for check in result.list %}
                    <tr>
                        <td>
                            <span class="command"> {{ check.1 }} </span>
                        </td>
                        <td class="{{ check.0 | lower }}">
                            <span class="status"> {{ check.0 | capfirst }} </span>
                        </td>
                        <td class="{{ check.2 | lower }}">
                            <span class="status"> {{ check.2 | capfirst}} </span>
                        </td>
                        <td class="{{ check.3 | lower }}">
                            <span class="status"> {{ check.3 | capfirst}} </span>
                        </td>
                        <td class="{{ check.4 | lower }}">
                            <span class="status"> {{ check.4 | capfirst}} </span>
                        </td>
                        <td class="{{ check.5 | lower }}">
                            <span class="status"> {{ check.5 | capfirst}} </span>
                        </td>
                        <td>
                            {% if check.0 == "Fail" %}
                                <a href="/admin/testing/command/add/?_to_field=id&_popup=1" class="add-another" id="add_id_Command" onclick="return showAddAnotherPopup(this);">
                                <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}
            <div class="form-container">
                {% if errors %}
                    <p class="errornote">
                        {% if errors|length == 1 %}
                            {% trans "Please correct the error below." %}
                        {% else %}
                            {% trans "Please correct the errors below." %}
                        {% endif %}
                    </p>
                    {{ adminform.form.non_field_errors }}
                {% endif %}
                <fieldset class="module aligned ">
                    <div class="form-row {% if errors %}errors{% endif %} field-xml_file">
                        {% if errors %}
                            <ul class="errorlist">
                                <li>{{ errors }}</li>
                            </ul>
                        {% endif %}
                        <div>
                            {% for field in form %}
                                <div>
                                    <label class="required"> {{ field.label }} </label>
                                    {{ field }}
                                    <small> {{ field.help_text }} </small>
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Begin M-Extract" class="default">
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
