{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="/media/css/finder.css" />
    <style type="text/css">
        .v18 .dijitSelect {
            max-width: 400px;
            float:left;
        }
    </style>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    dojo.ready(function(){
        dojo.connect(dojo.byId('ibm_product'), 'onchange', get_commands);
        dojo.connect(dojo.byId('ibm_commands'), 'onchange', get_command);
        dojo.connect(dojo.byId('ibm_rules'), 'onchange', get_rules);
        setTimeout("get_commands()", 2000);
    });

    function get_commands(){
        product = dojo.attr(dojo.byId("ibm_product"), 'value');
        if (product != 0) {
            dojo.xhrPost({
                url: '/get_commands/' + product,
                content: {
                    csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
                },
                handleAs: "text",
                load: function(data){
                    dojo.byId("ibm_commands").innerHTML = data;
                },
                error: function(error){
                    // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                    // docs server.
                    dojo.byId("ibm_commands").innerHTML = data;
                }
            });
            setTimeout("get_command()", 1000);
        }
        else {
            dojo.byId("ibm_commands").innerHTML = "<option value='0'>You first need to select an IBM Product</option>";
            dojo.byId("command_info").innerHTML = "";
            dojo.byId("ctaf_result").innerHTML = "";
        }
    }

    function get_command(){
        command = dojo.attr(dojo.byId("ibm_commands"), 'value');
        if (command != 0) {
            var command_id = command.split("_")
            var command_type = command_id[0]
            command = command_id[1]
            if (command_type == "c"){
                dojo.xhrPost({
                    url: '/get_command/' + command,
                    content: {
                        csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
                    },
                    handleAs: "text",
                    load: function(data){
                        dojo.byId("ctaf_result").innerHTML = data;
                    },
                    error: function(error){
                        // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                        // docs server.
                        dojo.byId("ctaf_result").innerHTML = data;
                    }
                });

                dojo.xhrPost({
                    url: '/get_command_info/' + command,
                    content: {
                        csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
                    },
                    handleAs: "text",
                    load: function(data){
                        dojo.byId("command_info").innerHTML = data;
                    },
                    error: function(error){
                        // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                        // docs server.
                        dojo.byId("command_info").innerHTML = data;
                    }
                });
                setTimeout('ibmweb.table.initSortableTable(dojo.byId("ctaf_result"));', 2500);
            }else{
                dojo.xhrPost({
                    url: '/get_metacommand/' + command,
                    content: {
                        csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
                    },
                    handleAs: "text",
                    load: function(data){
                        dojo.byId("ibm_rules").innerHTML = data;
                        dojo.byId("ctaf_result").innerHTML = "";
                        dojo.byId("command_info").innerHTML = "";
                    },
                    error: function(error){
                        // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                        // docs server.
                        dojo.byId("ibm_rules").innerHTML = data;
                        dojo.byId("ctaf_result").innerHTML = "";
                        dojo.byId("command_info").innerHTML = "";
                    }
                });
            }
        }
    }
    function get_rules(){
        rule = dojo.attr(dojo.byId("ibm_rules"), 'value');
        dojo.xhrPost({
            url: '/get_rule/' + rule,
            content: {
                csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
            },
            handleAs: "text",
            load: function(data){
                dojo.byId("ctaf_result").innerHTML = data;
            },
            error: function(error){
                // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                // docs server.
                dojo.byId("ctaf_result").innerHTML = data;
            }
        });

        dojo.xhrPost({
            url: '/get_rule_info/' + rule,
            content: {
                csrfmiddlewaretoken: dojo.byId("ibm_form").csrfmiddlewaretoken.value
            },
            handleAs: "text",
            load: function(data){
                dojo.byId("command_info").innerHTML = data;
            },
            error: function(error){
                // We'll 404 in the demo, but that's okay.  We don't have a 'postIt' service on the
                // docs server.
                dojo.byId("command_info").innerHTML = data;
            }
        });
    }
</script>
{% endblock %}

{% block content %}
<h2>Welcome to {{ title }}</h2>
<p>
    <span class="ibm-btn-pri">
    </span>
</p>
<br />
<form method="post" class="" id="ibm_form">{% csrf_token %}
    <select name="ibm_product" id="ibm_product" style="min-width: 200px;">
        <option selected="selected" value="">Select an IBM Product</option>
        {% for p in products %}
            <option value="{{ p.id }}">{{ p.name }} - {{ p.version }}</option>
        {% endfor %}
    </select>
    <span class="ibm-sep">&nbsp;</span>
    <span>
        <select id="ibm_commands" style="min-width: 200px;">
            <option value="0">You first need to select an IBM Product</option>
        </select>
    </span>
    <span class="ibm-sep">&nbsp;</span>
      <span class="hiddenRules">
        <select id="ibm_rules" style="min-width: 200px;">
            <option value="0">You first need to select an IBM Product</option>
        </select>
    </span>
</form>
<div id="output-results" style="clear:both;">
    <div>
        <div id="command_info">
        </div>
        <table id="ctaf_result" class="ibm-data-table ibm-sortable-table ibm-alternate-two" cellspacing="0" cellpadding="0" border="0">
        </table>
    </div>
</div>
{% endblock %}
