{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    {% include "meta_v18.html" %}
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="http://1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="http://1.www.s81c.com/common/v18/js/www.js"></script>
    <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
    <script type="text/javascript">
         IBMCore.common.util.config.set({
                masthead: { enabled: false, },
                footer: {
                    type: 'alternate', socialLinks: { enabled: false }
                }
            });
    </script>

    <script type="text/javascript">
        window.BASE_URL = "{% filter escapejs %}{{ STATIC_URL }}drag-drop/{% endfilter %}";
        document.edit_mode = ("{{ edit_mode }}" === "True");
        document.edit_data = {
            model: "{{ model }}",
            object_id: "{{ object_id }}"
        }
    </script>

    <!-- Stuff that is only required in this demo (no need to copy) -->
    <link rel="stylesheet" href="{% static "drag-drop/framework/vendor/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "drag-drop/framework/vendor/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "drag-drop/framework/vendor/prism.css" %}">
    <link rel="stylesheet" href="{% static "drag-drop/framework/demo-framework.css" %}">
    <link rel="stylesheet" href="{% static "drag-drop/framework/ng-tags-input.min.css" %}"/>

    <script src="{% static "drag-drop/framework/angular.min.js" %}"></script>
    <script src="{% static "drag-drop/framework/angular-drag-and-drop-lists.min.js" %}"></script>
    <script src="{% static "drag-drop/framework/ng-tags-input.min.js"%}"></script>
    <script src="{% static "drag-drop/framework/jquery.min.js"%}" ></script>
    <script src="{% static "drag-drop/framework/angular-route.min.js"%}" ></script>
    <script src="{% static "drag-drop/framework/vendor/prism.js"%}" ></script>
    <script src="{% static "drag-drop/framework/vendor/bootstrap.min.js" %}"></script>

    <script src="{% static "drag-drop/framework/demo-framework.js"%}" ></script>

    <script src="{% static "drag-drop/keyword/keyword.js"%}" ></script>
    <script src="{% static "drag-drop/testcase/testcase.js"%}" ></script>
    <script src="{% static "drag-drop/testsuite/testsuite.js"%}" ></script>
    <script defer src="{% static "js/navigation.js"%}" ></script>

    <style>
        .form-error {
            font-size: smaller;
            font-style: italic;
            color: #E53B52;
            font-weight: bold;
            float: right;
        }
    </style>

</head>

<body ng-app="demo">
    <base href="/admin/testing/">
    {% include "masthead_v18.html" %}
    <div class="container">
        {% csrf_token %}
        <div ng-view></div>
    </div>
</body>

<footer role="contentinfo" aria-label="IBM">
    <div id="ibm-footer">
        <h2 class="ibm-access">Footer links </h2>
        <ul>
            <li>
                <a href="http://w3.ibm.com/w3/info_terms_of_use.html">Terms of use</a>
            </li>
        </ul>
    </div>
</footer>
</html>
