
body,html{
    font-size: 16px;
}

#ibm-universal-nav{
    height: 56px;
}

.box {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box > h3 {
    color: #333333;
    border-color: #DDDDDD;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-padding {
    padding: 15px;
}

.box-padding > h3 {
    margin: -15px;
    margin-bottom: 15px;
}

.box-grey {
    border-color: #C0E6FF;
}

.box-grey > h3 {
    color: #323232;
    background-color: #C0E6FF;
    border-color: #323232;
}

.box-blue {
    border-color: #BCE8F1;
}

.box-blue > h3 {
    border-color: #7CC7FF;
}

.box-morado{
    border-color: #C0E6FF;
    max-width: 95%;
    margin: 10px auto;
    position: relative;
}

.box-morado > h3{
    color: #323232;
    background-color: #7CC7FF;
    font-size: 12px;
}

.box-yellow > h3 {
    color: #C0E6FF;
    background-color: #1D3649;
    border-color: #C0E6FF;
}

.nestedDemo ul[dnd-list],
.nestedDemo ul[dnd-list] > li {
    position: relative;
}

.nestedDemo .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

.nestedDemo .dropzone li {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    padding: 0px;
}

.nestedDemo .dropzone .dndDragging {
    opacity: 0.7;
}

.nestedDemo .dropzone .dndDraggingSource {
    display: none;
}

.nestedDemo .dropzone .dndPlaceholder {
    background-color: #DDDDDD;
    min-height: 42px;
    display: block;
    position: relative;
}

.nestedDemo .dropzone .selected .item {
    color: #3C763D;
    background-color: #DFF0D8;
}

.nestedDemo .dropzone .selected .box {
    border-color: #D6E9C6;
}

.nestedDemo .dropzone .selected .box > h3 {
    color: #3C763D;
    background-color: #DFF0D8;
    background-image: linear-gradient(to bottom,#DFF0D8 0,#D0E9C6 100%);
    border-color: #D6E9C6;
}

.nestedDemo .dropzone .item {
    padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
    margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
    float: left;
    width: 50%;
}

.nestedDemo .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

.nestedDemo .toolbox button {
    margin: 5px;
    width: 123px;
    opacity: 1.0;
}

.nestedDemo .toolbox .dndDragging {
    opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
    opacity: 1.0;
}

.nestedDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.nestedDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nestedDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.nestedDemo .trashcan .dndPlaceholder {
    display: none;
}

.searchline{
    display: block;
    text-align: center;
    padding: 10px;
    color: #656565;
    background-color: #FFFFFF;
}

.searchline input{
    padding-left: 12px;
    border: none;
    width: 52%;
    border-top: none;
    border-bottom: solid 1px #656565;
}

.runtimes .searchline{
    display: none;
}

.theinput input{
    max-width: 95%;
    padding: 4px;
    border: solid 1px #ECEAEA;
}

.runtimes .box-yellow{
    background-color: #FFFFFF;
}

.resultado{
    width: 100%;
}

.resultado input{
    width: 95%;
}

.resultado input[type=radio],
input[type=checkbox] {
    display: inline-block;
    max-height: 20px;
}

.resultado input[type=radio], input[type=text] {
    display: inline-block;
    max-width: 60%;
}

.deletecode{
    border: none;
    background-color: #A583DD;
    color: #FFFFFF;
    float: right;
    border-radius:50%;
    display: none;
    height: 26px;
    width: 26px;
    line-height: 13px;
}

.runtimes .deletecode{
    display: block;
}

.runtimes .dropzone ul[dnd-list]{
    border: dotted 5px aliceblue;
    border-top: none;
    min-height: 200px !important;
    max-height: inherit;
    padding: 0 0 48px 0 !important;
}

.runtimes .dropzone ul[dnd-list] ul{
    min-height: 50px !important;

}

.run-code{
    border: none;
    background-color: #1D3649;
    color: #C0E6FF;
    float: right;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.model{
    padding: 20px 0;
    display: block;
    margin-bottom: 20px;
}

.model label{
    width: 100%;
    display: block;
}

.model label input,.model label select{
    width: 64%;
    display: inline-block;
    padding: 5px;
}

.generatearray{
    padding-top: 17px;
    float: left;
    width: 100%;
}

.nosearch .searchline{
    display: none;
}

.malavida .dropzone div .searchline  {
    display: none;
}

.box-morado  ul[dnd-list] {
    border: dotted 1px #A9A9AE !important;
    min-height: 100px !important;
}

.description label{
    display: block;
}

.description label textarea{
    width: 100%;
    border: 1px solid #1D3649;
    resize: none;
    margin: 10px 0;
}

.agrouptabs .commands{
    color: #C0E6FF;
    background-color: #1D3649;
    border-color: #C0E6FF;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 20px;
}

.agrouptabs>div{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.agrouptabs{
    padding-bottom: 3px;
    background-color: #E9F6FF;
}

.separat{
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}
/**/

/***************************** Required styles *****************************/
/**
* For the correct positioning of the placeholder element, the dnd-list and
* it's children must have position: relative
*/
.nestedDemo ul[dnd-list], .nestedDemo ul[dnd-list] > li { position: relative; }
/***************************** Dropzone Styling *****************************/
/**
* The dnd-list should always have a min-height,
* otherwise you can't drop to it once it's empty
*/
.nestedDemo .dropzone ul[dnd-list] { min-height: 42px; margin: 0px; padding-left: 0px; }
/**
* The dnd-lists's child elements currently MUST have
* position: relative. Otherwise we can not determine
* whether the mouse pointer is in the upper or lower
* half of the element we are dragging over. In other
* browsers we can use event.offsetY for this.
*/
.nestedDemo .dropzone li { background-color: #FFFFFF; border: 1px solid #DDDDDD; display: block; padding: 0px; }
/**
* Reduce opacity of elements during the drag operation. This allows the user
* to see where he is dropping his element, even if the element is huge. The
* .dndDragging class is automatically set during the drag operation.
*/
.nestedDemo .dropzone .dndDragging { opacity: 0.7; }
/**
* The dndDraggingSource class will be applied to the source element of a drag
* operation. It makes sense to hide it to give the user the feeling that he's
* actually moving it. Note that the source element has also .dndDragging class.
*/
.nestedDemo .dropzone .dndDraggingSource { display: none; }
/**
* An element with .dndPlaceholder class will be added as child of the dnd-list
* while the user is dragging over it.
*/
.nestedDemo .dropzone .dndPlaceholder { background-color: #ddd; min-height: 42px; display: block; position: relative; }
/***************************** Element Selection *****************************/
.nestedDemo .dropzone .selected .item { color: #3c763d; background-color: #dff0d8; font-size: 12px; }
.nestedDemo .dropzone .selected .box { border-color: #d6e9c6; }
.nestedDemo .dropzone .selected .box > h3 { color: #3c763d; background-color: #dff0d8; background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%); border-color: #d6e9c6; }
/***************************** Element type specific styles *****************************/
.nestedDemo .dropzone .item { padding: 10px 15px; font-size: 12px; }
.nestedDemo .dropzone .container-element { margin: 10px; }
.nestedDemo .dropzone .container-element .column { float: left; width: 50%; }
/***************************** Toolbox *****************************/
.nestedDemo .toolbox ul { list-style: none; padding-left: 0px; cursor: move; }
.nestedDemo .toolbox button { margin: 5px; width: 123px; opacity: 1.0; }
.nestedDemo .toolbox .dndDragging { opacity: 0.5; }
.nestedDemo .toolbox .dndDraggingSource { opacity: 1.0; }
/***************************** Trashcan *****************************/
.nestedDemo .trashcan ul { list-style: none; padding-left: 0px; }
.nestedDemo .trashcan img { width: 100%; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: grayscale(100%); }
.nestedDemo .trashcan .dndDragover img { width: 100%; -webkit-filter: none; -moz-filter: none; filter: none; }
.nestedDemo .trashcan .dndPlaceholder { display: none; }
ul > li:before, ol > li:before { content: ""; }
.box-yellow h3{ cursor: pointer; }



/***************************  Drag and Drop styles  ***************************/

.resultado input[type="radio"], input[type="text"] {
    float: none;
    max-width: 100%;
}

.agrouptabs .nomaxi{
    max-height: 300px;
    overflow-y: auto;
}

#Description{
    width: 100%;
    height: 53px;
    resize: none;
    padding-left: 10px;
}

.separat{
    margin: 20px 0;
}

.separat input,
.separat select{
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 10px;
}

textarea{
    resize: vertical;
    width: 100%;
}

.firstsection .nosearch ul{
    display: none;
}

.agrouptabs .line1,
.agrouptabs .line2{
    display: none;
}

.line1,
.line2{
    display: inline;
}

.tagname{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.circlered li:before{
    position: absolute;
    color: #FF0000;
    right: 4%;
    font-size: 40px;
    top: 7px;
}

.circlered li:before{
    position: absolute;
    color: #FF0000;
    right: 4%;
    font-size: 40px;
    top: 7px;
}

aside{
    width: 100%;
    z-index: 10;
    position: relative;
}

.advancedoverflow{
    max-height: 250px;
    overflow-y: auto;
}

.pointers,
.commands{
    cursor: pointer;
}

.runtimes{
    margin-bottom: 100px;
}

.tagone{
    display: inline;
    font-size: 12px;
}

.iconsibm{
    position: absolute;
    right: 21px;
    font-size: 12px;
    top: 7px;
}

.nomaxi{
    max-height: 230px;
    overflow-y: auto;
}

.iconsibm{
    cursor: pointer;
}

body > .container{
    min-height: 600px;
}

.wordstyle{
    overflow-y: scroll;
    max-height: 30vh;
}

.firstsection .hiddetext{
    display: none;
}

.fixed-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 27%;
}

.nav-nav{
    width: 30%;
    position: fixed;
    top: 0;
    left: 66%;
}

.nomayor{
    max-height: 650px;
    overflow-y: auto;
}

.name textarea{
    resize: vertical;
    width: 100%;
    font-size: 12px;
    min-height: 115px !important;
    padding: 0 10px;
}

.dropzone{
    max-height: 500px !important;
    overflow-y: auto;
}

.scrollfix{
    position: fixed;
    width: 430px;
    top: 0;
    z-index: 10;
}

.line1{
    font-size: 12px;
    color: #7160D1;
}

.line2{
    font-size: 12px;
    color: #000000;
}
.theinput{
    overflow-y: auto;
    padding: 5px;
}

.theinput#options{
    max-height: 40vh;
}

.theinput#advanced{
    max-height: 30vh;
}


/* Fixed code section styles */
.code-zone{
    position: relative;

}

.code-wrapper.fixed-wrapper{
    position: fixed;
    top: 0;
}

/* Based on bootstrap sizes */
@media screen and (min-width: 768px) {
    .code-wrapper.fixed-wrapper{
        width: 585px;
        margin-left: 195px;
    }
}

@media screen and (min-width: 992px) {
    .code-wrapper.fixed-wrapper{
        width: 750px;
        margin-left: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .code-wrapper.fixed-wrapper{
        width: 900px;
        margin-left: 300px;
    }
}
