{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}{{ title }} {% endblock %}</title>
    {% block meta %}{% include "meta_v18.html" %}{% endblock %}
    {# IBM styles #}
    <script src="http://1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="http://1.www.s81c.com/common/v18/js/www.js"></script>
    <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />

    <script type="text/javascript">
        IBMCore.common.util.config.set({
            masthead: {
                enabled: false,
            },
            footer: {
                type: 'alternate',
                socialLinks: {enabled: false}
            }
        });
    </script>

    {# Admin styles #}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
    {# Custom styles #}


    <link rel="stylesheet" type="text/css" href="{% static "css/basicStyles.css" %}"/>
    <link href="https://www.ibm.com/account/ibmidutil/css/style_old.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/compatibility_admin.css" %}"/>
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ MEDIA_URL }}admin/css/rtl.css{% endblock %}" />
    {% endif %}
    {% block extrastyle %}{% endblock %}
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{{ MEDIA_URL }}admin/{% endfilter %}";</script>
    <script type="text/javascript" src="{% static "admin/js/jquery.js"%}"></script>
    {% block extrascripts %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body id="ibm-com" class="ibm-type {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    <div id="ibm-top" class="ibm-landing-page">
        {% block masthead %}{% include "masthead_v18.html" %}{% endblock %}
        <div id="ibm-content-wrapper">
            <header>
                <div id="ibm-leadspace-head" role="banner">
                    <div id="ibm-leadspace-body">
                        <nav role="navigation" aria-label="Breadcrumb">
                            <ul id="ibm-navigation-trail">
                                {% load i18n %}
                                {% if not is_popup %}
                                    {% block breadcrumbs %}
                                        <div class="breadcrumbs">
                                            <a href="/">{% trans 'Home' %}</a>
                                            {% if title %} &rsaquo; {{ title }}{% endif %}
                                        </div>
                                    {% endblock %}
                                    <script>
                                        if ($(".breadcrumbs").html()) {
                                            var breadcrumbs = "<li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>" + $(".breadcrumbs").html().replace(new RegExp("›", "ig"), "</li><li>"){% if title %}.replace("{{ title }}", ""){% endif %} + " </li>";
                                            $("#ibm-navigation-trail").html(breadcrumbs);
                                        }
                                    </script>
                                {% endif %}
                            </ul>
                        </nav>
                        {% block content_title %}{% if title %}
                            <h1 id="ibm-pagetitle-h1" class="ibm-h1">
                                {{ title }}
                            </h1>
                        {% endif %}{% endblock %}
                    </div>
                </div>
               {% block ps_tabs %}
                    <nav role="navigation" aria-labelledby="ibm-pagetitle-h1"> </nav>
                {% endblock %}
            </header>
            <!-- Container -->
            <main role="main" aria-labelledby="{{ title }}">
                <div id="ibm-pcon">
                    <!-- CONTENT BEGIN -->
                    <div id="ibm-content">
                        <!-- CONTEN BODY -->
                        <div id="ibm-content-body">
                            <div id="ibm-content-main">
                                <div id="ibm-columns">
                                    <!-- begin content-->
                                    <div id="container" class="ibm-col-1-1">
                                            {% if messages %}
                                                <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                                            {% endif %}

                                            <!-- Content -->
                                            <div id="content" class="{% block coltype %}colM{% endblock %}">
                                                {% block pretitle %}{% endblock %}
                                                {% block content %}
                                                    {% block object-tools %}{% endblock %}
                                                    {{ content }}
                                                {% endblock %}
                                                {% block sidebar %}{% endblock %}
                                                <br class="clear" />
                                            </div>
                                            <!-- END Content -->
                                        </div>
                                        <!-- END Container -->
                                        {% block endofbody %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- FOOTER_BEGIN -->
        <div id="ibm-footer-module"></div>
        {% block footer %}
        <footer role="contentinfo" aria-label="IBM">
            <div id="ibm-footer">
                <h2 class="ibm-access">Footer links </h2>
                <ul>
                    <li>
                        <a href="http://w3.ibm.com/w3/info_terms_of_use.html">Terms of use</a>
                    </li>
                </ul>
            </div>
        </footer>
        {% endblock %}
    </div>
    <script type="text/javascript">
        $( document ).ready(function() {
            $("#ibm-social-tools").remove();
            $(".checkbox-row").removeClass("checkbox-row");
            setTimeout(function(){
                $(".selector").parent().parent().children("p.help").attr("style", "float:left");
                $(".selector").parent().removeClass("ibm-selectlist-styled");
                $('.field-permissions span, .field-groups span').remove();
                $('#id_permissions, #id_groups').removeClass('select2-hidden-accessible');
            }, 4000);
        });
    </script>
    <script defer src="{% static 'js/navigation.js' %}"></script>
</body>
</html>
