<p>The following is a list of changes between {{ start_date|date:"M jS h:iA" }} EST and {{ end_date|date:"M jS h:iA" }} EST
    that were lost last week and now restored on the TEST server. Because additional changes have been made to your hub
    this week, it is not possible to merge them automatically with the changes below. Therefore the changes listed here 
    will need to be copied over to production manually.
    <!--The URL for each changed item is given in the URL column. This links to the admin on the TEST server
    which can be used to copy changes over to production as necessary.-->
    <!--The admin URLs for both Production and Test are given so you
    can open both items in separate browser tabs and copy changes from the Test server to the Production server.-->
</p>
<table border="1">
    <thead>
        <tr>
            <th style="width:150px;">Time (EST)</th>
            <th>User</th>
            <th>Item</th>
            <th>Title</th>
            <th>Action</th>
            <th>Change message</th>
            <th style="width:110px;">URL</th>
        </tr>
    </thead>
    <tbody>
    {% for change in changes %}
        <tr>
            <td>{{ change.action_time|date:"M jS h:iA" }}</td>
            <td>{{ change.user.username }}</td>
            <td>{{ change.content_type.name }}</td>
            <td>{{ change.object_repr }}</td>
            <td>{% if change.is_addition %}Create{% endif %}
                {% if change.is_change %}Update{% endif %}
                {% if change.is_deletion %}Delete{% endif %}
            </td>
            <td>{{ change.change_message }}&nbsp;</td>
            <td><!--{% if not change.is_addition %}<a href="https://{{ prod_url }}/admin/{{ change.get_admin_url }}">PROD</a>{% endif %} |-->
                {% if not change.is_deletion %}<a href="/admin/{{ change.get_admin_url }}">TEST</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>