{% extends 'base.html'%}

{% block content %}
            <div id="ibm-access-cntr">
            <div role="main" aria-labelledby="ibm-pagetitle-h1">
                <div id="ibm-pcon">
                    <div id="ibm-content">
                        <div id="ibm-content-body" class="ibm-id">
                            <div id="ibm-content-main">
                                <div class="ibm-columns">
                                    <div class="ibm-col-6-2">
                                        &nbsp;
                                    </div>
                                    <div class="ibm-signin-card ibm-col-6-2">
                                        <div class="" id="signin">
                                            <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                                                <h3 id="ng-signin-title-2" style="text-align: center;">Login to Access CTA</h3>
                                                <div id="useridform">
                                                    <p>
                                                        <label for="id_username"> IBM Id </label>
                                                        <input type="text" name="username" id="id_username" size="30" /> (e.g., joe@us.ibm.com)
                                                    </p>
                                                    <p>
                                                      <input type="password" name="password" id="id_password" size="30" />
                                                      <input type="hidden" name="this_is_the_login_form" value="1" />

                                                    </p>

                                                    <label>&nbsp;</label>
                                                    <div class="button-blue">
                                                        <input type="submit" id="continuebutton" class="ng-signin-cta-2 button buttonRegister login-true" style="display:block;width: 100%;padding:18px 0;" tabindex="2"  value="Sign in" class="ibm-btn-arrow-pri" name="ibm-sign-in" />
                                                    </div>
                                                    <div>
                                                    <div id="signin_button" style="display:none">
                                                        <a tabindex="1" href="#" id="signinbutton" class="ng-signin-cta-2 button buttonRegister login-true" style="display:block;width: 100%;padding:18px 0;">Log In</a>
                                                    </div>
                                                        <!--  <a class="ng-signin-cta-2 button buttonRegister" id="singinbutton" href="#">Sign in</a> -->
                                                        <p style="text-align: center;" class="ibmid-ctx-signup" id="ng-mobile-new">
                                                            <a href="/access_request" id="ng-mobile-signUp" tabindex="3">Request Access to CTA</a>
                                                        </p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}