{% extends "masthead_v18.html" %}
{% load i18n %}

{% block masthead_v18_div_styles %}{% endblock %}
{% block sitetitle_v18 %}{{ block.super }} - Site Administration{% endblock %}
{% block headersearch_v18 %}{% endblock %}
{% block personalization %}
{% if user.is_authenticated and user.is_staff %}
    <li class="ibm-masthead-item-signin ibm-masthead-full-item hasinitials" role="presentation">
        <a class="" href="/inventory/logout" aria-owns="ibm-signin-minimenu-container" aria-haspopup="true" role="button" aria-label="Signed in as {{ user.get_full_name }}" tabindex="0">
            {{ user.get_full_name }}
        </a>
    </li>
{% endif %}
{% endblock %}


