    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

    <meta name="geo.country" content="US" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2016" />
    <meta name="dcterms.date" content="2015-09-02" />
    <meta name="description" content="Common Test Automation" />
    <meta name="keywords" content="CTA" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content="IBM Northstar Template Generator 2.0" />

    <script>
        digitalData = {
            "page":{
                "category":{
                    "primaryCategory":"SB03"
                },
                "pageInfo":{
                    "effectiveDate": "2014-11-19",
                    "expiryDate": "2017-11-19",
                    "language":"en-US",
                    "publishDate":"2014-11-19",
                    "publisher":"IBM Corporation",
                    "version":"v18",
                    "pageID":"REPLACE",
                    "ibm":{
                        "contentDelivery":"HTML",
                        "contentProducer":"IBM Northstar Template Generator 2.0",
                        "country":"US",
                        "industry":"Local",
                        "owner":"IBM Campus Tecnologico Guadalajara",
                        "siteID":"common-test-automation",
                        "subject":"Common Test Automation",
                        "type":"CT####"
                    }
                }
            }
        };
    </script>