{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %} {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <style>
        small { font-size: smaller !important; font-weight: normal; }
        .errorlist           { display: inline-block; }
        .errorlist li        { display: inline-block; }
        .errorlist li:before { content: "" }
        .form-group          { padding: 10px 5px; font-size: 1.1em }

    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="../../">CTA Framework</a>
            &rsaquo; <a href="../">Robot Framework</a>
            &rsaquo; Import from R Extract
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <template id="url-field">
        <div class="form-group">
            <div class="col-sm-2">
                <label for="">Documentation website URL</label>
            </div>
            <div class="col-sm-10">
                <input id="id_url" name="urls" type="url">
            </div>
        </div>
    </template>

    <script>
        var urlCount = 0;
        var cloneTemplate = function(idSelector, targetSelector){
            var t = document.querySelector(idSelector);


            var clone = document.importNode(t.content, true);
            document.querySelector(targetSelector).appendChild(clone);
        }
        $(function(){
            $('#add-lib').on('click', function(e){
                e.preventDefault();
                cloneTemplate('#url-field', 'fieldset .form-row');
            });
        })
    </script>
    <div id="content-main">
    {% block object-tools %}
        {% if change %}
            {% if not is_popup %}
                <ul class="object-tools">
                    {% block object-tools-items %}
                        <li>
                            {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                            <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                        </li>
                        {% if has_absolute_url %}
                            <li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                        {% endif%}
                    {% endblock %}
                </ul>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% if result.status %}
        <!-- pass -->
    {% else %}
        <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="rextract_form" novalidate>
            {% csrf_token %}
            <div class="form-container">
                <fieldset class="module aligned ">
                    <div class="form-row {% if errors %}errors{% endif %} field-xml_file">
                        <div class="row">
                            {% for field in form %}
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        {{ field.label }}
                                    </div>

                                    <div class="col-sm-10">
                                        {{ field }}
                                        <small> {{ field.help_text }} </small>
                                    </div>
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <button id="add-lib">Add an external library </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Begin R-Extract" class="default">
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
