/**
 * Modifications to the filter_horizontal (ManyToMany) widget to increase the width
 */
.selector select {
    width:100%;
}
.selector-available, .selector-chosen {
    width:350px;
}
.selector {
    width:736px;
}
.selector .selector-chosen .selector-filter {
    padding:8px 5px 7px 5px;
}
.selector .selector-available input {
    width:290px;
}

/**
 * Modifications to the filter_vetical (ManyToMany) widget to increase the width
 */
.stacked {
    width:710px;
}
.stacked .selector-available, .stacked .selector-chosen {
    width:700px;
}
.stacked .selector-available input {
    width:642px;
}
.stacked select {
    width:100%;
}

/**
 * Modifications to bulleted lists (remove them in the case of checkboxes)
 */
div.form-row > div > ul > li {
    list-style-type: none;
    padding: 0px;
}

/**
 * Add additional padding to the description headings for each fieldset on add/change pages
 */
div.description {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px;
}

/**
 * Style the login information in the masthead
 */
#personalization-links a {
    text-decoration: underline;
}
#personalization-links a:hover {
    color: #FFFFFF;
}
#changelist-filter {
    z-index: 0;
}
#ibm-menu-links li, #ibm-footer li {
    list-style-type:none;
}
#result_list th {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    max-width: 290px;
}

#result_list td, th {
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    vertical-align: top;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px !important;
}

.toplinks {
    background: url("/media/admin/css/../img/admin/nav-bg-reverse.gif") repeat-x scroll 0 -10px white !important;
}

.toplinks, #changelist-filter {
    list-style-type:none !important;
    list-style:  none outside none !important;
    text-decoration: none !important;
}

.toplinks li a {
    list-style-type:none !important;
    text-decoration: none !important;
    list-style: none outside none !important;
}

#changelist-filter h3 {
    font-size: 11px !important;
    line-height: 14px;
}

#changelist-filter li {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
}

#changelist-filter h2 {
    font-size: 11px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #DDDDDD;
    padding: 2px 5px;
    width: 150px;
    text-align: left;
}

.object-tools li {
    list-style-type:none !important;
    list-style: none !important;
    text-decoration: none !important;
    background: url("/media_inventory/admin/css/../img/admin/tool-left.gif") no-repeat scroll 0 0 transparent !important;
}

#changelist-filter ul li {
    padding: 0 0 2px 0px !important;
}

.object-tools li {
    padding: 0 0 5px 8px !important;
    display: block !important;
    float: left !important;
    height: 16px !important;
    margin-left: 2px !important;
}

.object-tools li a {
    float:left !important;
}

#changelist-filter ul,  #changelist-filter ol, #changelist-filter li {
    background: none repeat scroll 0 0 transparent !important;
    padding-top: 1px 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#changelist-filter li.selected {
    padding-left: 5px !important;
    margin-left: -10px;
}

#changelist-filter h3 {
    margin: 5px 0px !important;
}

.toplinks li {
    background: none repeat scroll 0 0 transparent !important;
}

#ibm-universal-nav {
    height: 56px;
}

/*#ibm-content-wrapper > header{
    height: 90px;
}*/

#ibm-content-wrapper > header #ibm-leadspace-head{
    height: auto;
}
#ibm-content-wrapper > header #ibm-leadspace-head #ibm-leadspace-body{
    min-height: 0;
    padding: 15px 0;
}

/*#ibm-content-wrapper > header #ibm-leadspace-head #ibm-leadspace-body nav{
    display: none;
}*/

ul, ol, li {
    margin-top: 0;
}
.ibm-landing-page #ibm-content-body{
    padding: 0;
}

body#ibm-com{
    padding-bottom: 120px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
