/* ----------------------------------------------------- */
/* original definitions extracted from screen.css for w3 */
/* ----------------------------------------------------- */

/* ------- basic styles ------- */
html,body	{background:#fff; margin:0; padding:0; min-width:670px; font-size:84%;}

html,body,
p,ul,ol,li,
td,th,dl,dt,
blockquote,
h1,h2,h3,h4,h5	{color:#000; font-family:verdana,arial,helvetica,sans-serif;}

p,li,dd,dt,th,td,
blockquote, pre, code, xmp,
#left-nav,
#related-links	{font-size:1.1em;}

pre, code, xmp {margin:0; font-size:1.2em;}
* html pre {margin:0; font-size:1em;}
* html code {margin:0; font-size:1em;}
* html xmp {margin:0; font-size:1em;}

p {margin:0; padding:.5em 0 .5em 0; line-height:16px;}
.first	{padding:0 0 .5em 0;}
ul, ol, li {margin-top:.5em; margin-bottom:.5em; padding-right:1em; line-height:1.25em;}

ul.tabs li span a {font-size:0.9em;}

dl	{margin-top:0; margin-bottom:0;}
dt {margin:.5em 1em .3em 0; line-height:1.25em; font-weight:bold;}
dd {margin:0 1em .5em 2em; line-height:1.25em;}

a img	{border:0 solid #f00;}
a:hover	{color:#69c; text-decoration:underline;}

#browser-warning	{display:none;}
.hrule-solid	{font-size:0; height:1px; line-height:0; padding:0; margin:0; background:#999;}
.hrule-dots	{font-size:.1em; height:1px; line-height:0; padding:0; margin:0; background:url(../images/rule-h-gray-dots.gif) 0 50% repeat-x;}
.hrule-clear	{clear:both; font-size:.1em; height:1px; line-height:0; padding:0; margin:0; background:#fff url(../images/rule-h-gray-dots.gif) 0 50% repeat-x;}

.access {
	position: absolute;
	left: -3000px;
	width: 500px;
}

.skip a {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}
.skip a:active, .skip a:focus {
	position: absolute;
	overflow: visible;
	width: 135px;
	height: auto;
	background-color: #dfb;
	color: #000;
	top: 75px;
	left: 5px;
	z-index:1000;
	padding: 5px;
	border: 2px solid #4477bb;
	font-weight: bold;
}

.clear	{clear:both; line-height:0; height:0;}
.float-left	{float:left;}
.float-right	{float:right;}
.terms	{float:left; font-size:.8em; margin:1em 0;}
.source {color:#666;}
.indent	{margin:.5em 0 .5em 1.5em;}
.more-link	{padding-top:0; margin-bottom:2em; white-space:nowrap;}
.header-note {font-weight:normal; color:#666;}
.header-more-link {padding-left:1em; font-size:.9em; font-weight:normal; vertical-align:top; white-space:nowrap;}
.block {display:block;}

.bio-thumb {margin:1em 0 .5em .5em;}
.bio-thumb img {float:left; margin:2px .5em .5em 0;}

/* ------- form element treatments ------- */
form	{margin:0; padding:0;}
/*select,input	{display:inline;}*/
select	{display:inline;}
select	{border:1px solid #000;}
select,input,textarea	{font-family:verdana; font-size:.9em;}

/* ----------------------------------- */
/* removed colour specific definitions */
/* ----------------------------------- */

/* ------- content header styles ------- */
#content-head 	{margin:0; padding:0;}
#content-head #date-stamp 	{font-size:.9em; color:#666; padding:1em 0 .6em 0;}
#content-head #breadcrumbs	{font-size:.9em; padding:.3em 0 0 0;}

/* ------- type treatments ------- */
#content-main p	{padding-right:2em;}

.lead-in	{font-weight:bold;}
.section-link	{display:block; margin:0; padding:0 .5em 0 .5em;}

ul.no-bullets {list-style-type:none;}
ul.anchor-links	{}

.mono {
	font-family:monospace;
	font-size:120%;
}
* html .mono	{
	font-size:84%;
}

.caption	{font-weight:bold;}
.caption,.copyright	{font-size:.9em; color:#666; letter-spacing:.05em; padding:0;}

.byline	{float:right; font-size:.75em; font-weight:normal; font-style:italic; color:#999;}
.confidential	{font-weight:bold; color:#a00;}
.note	{color:#666; font-size:.9em;}

#content-sidebar ul {margin:0; padding:0; line-height:1.25em; padding-left:1.5em;}
#content-sidebar ol {margin-left:2.6em; padding-left:0;}
#content-sidebar ul.anchor-links	{}
#content-sidebar ul.no-bullets	{list-style-type:none;}
#content-sidebar p {margin:.5em 1em .5em 0; padding:0;}
#content-sidebar .section-link	{display:block; margin:0; padding:0;}

/* ------- header treatments ------- */
h1,h2,h3,h4,h5,h6,
.sub-title,.sub-head	{margin:0; padding:0;}

.sub-title	{color:#666; padding:0 0 1.5em 0; font-weight:bold;}
.sub-head	{color:#666; padding:.3em 0 .5em 0;}
.kicker	{font-size:.9em; color:#666; padding:0; font-weight:bold;}

h1	{font-size:1.9em; font-weight:normal; color:#000;}

h2	{font-size:1.6em; font-weight:normal;}
#content-main h2	{margin-top:0em;}

h2.small	{font-size:1.2em; font-weight:bold;}

h3	{font-size:1.1em; margin-top:.5em; color:#000;}

h4,h5,h6	{font-size:1em; color:#666;}
ul.h4-list	{padding:0 0 1em 35px;}
li h4	{color:#000;}

#content-sidebar h2	{font-size:1.1em; margin:0 0 .5em 0; font-weight:bold;}
#content-sidebar h3	{margin:1em 0 .3em 0; font-size:1.1em; font-weight:bold;}
#content-sidebar h4	{margin:1em 0 .3em 0; font-size:1em; font-weight:bold;}

/* ------- form element treatments ------- */
form	{margin:0; padding:0;}
/*select,input	{display:inline;}*/
select	{display:inline;}
select	{border:1px solid #000;}
select,input,textarea	{font-family:verdana; font-size:.9em;}

#content-sidebar select	{margin:0; padding:0; width:70%;}
* html #content-sidebar select	{
	width:120px;
	wid\th:70%;
}

/* ------- masthead styles ------- */
#masthead	{
	position:absolute;
	top:0;
	left:0;
	height:70px;
	width:100%;
	color:#fff;
	background:#4477bb;
	z-index:1;
	padding:0;
	margin:0;
}

#u-masthead	{
	position:absolute;
	top:0;
	left:0;
	height:68px;
	width:100%;
	color:#fff;
	background:#4477bb;
	z-index:1;
	padding:0;
	margin:0;
}


#site-title-plus	{
	position:absolute;
	top:26px;
	left:131px;
	color:#fff;
	font-size:21px;
	font-weight:bold;
	font-family:arial,verdana,helvetica,sans-serif;
}

#site-title-only	{
	position:absolute;
	top:35px;
	left:131px;
	color:#fff;
	font-size:21px;
	font-weight:bold;
	font-family:arial,verdana,helvetica,sans-serif;
}
#u-site-title-only{
	position:absolute;
	top:35px;
	left:131px;
	color:#fff;
	font-size:21px;
	font-family:arial,verdana,helvetica,sans-serif;
}

#site-title-user	{font-weight:normal;}
#u-site-title-user{font-weight:normal;}

#site-sub-title	{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	font-family:verdana,arial,helvetica,sans-serif;
}
#u-site-sub-title{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	font-family:verdana,arial,helvetica,sans-serif;
}

#w3-sitemark	{position:absolute; top:0; left:0;}
#w3-sitemark img	{border:0;}

#u-w3-sitemark      {position:absolute; top:0; left:0;}
#u-w3-sitemark img  {border:0;}


#personalization-links	{position:absolute; 
top:6px; left:132px; 
color:#bdf; 
font-size:.9em;}

#u-personalization-links{
	position:absolute; 
	top:6px; 
	left:131px; 
	color:#bbddff; 
	font-size:10px;
}


#personalization-links a	{color:#bdf;}
#u-personalization-links a{color:#bbddff; text-decoration:none;}

#personalization-links a:hover	{color:#fff;}
#u-personalization-links a:hover{color:#fff;}


#personalization-links #user	{font-weight:bold; color:#fff; padding-right:.5em;}
#personalization-links span#edit-settings	{color:#fff;}


#u-personalization-links a#edit-settings{border-right:1px solid #147; padding-right:11px;}
#u-personalization-links a#signout{border-left:1px solid #8ae; padding-left:11px;}
#u-personalization-links span#user{color:#bbddff; padding-right:8px;}


#u-personalization{
	position:absolute;
	top:8px;
	left:131px;
}

#persistent-nav	{
position:absolute; 
top:52px; right:13px; 
color:#fff; 
font-size:.9em; 
font-weight:bold;
}
#u-persistent-nav{
	position:absolute; 
	top:50px; 
	right:2px; 
	color:#fff; 
	font-size:10px; 
}

#persistent-nav a	{color:#fff; padding:0 .25em .1em .5em; text-decoration:none;}
#u-persistent-nav a{color:#fff; padding:0px 11px 0px 11px; text-decoration:none;}

#persistent-nav a:hover	{color:#bdf; text-decoration:underline;}
#u-persistent-nav a:hover{color:#bdf; text-decoration:underline;}

#persistent-nav a#w3home	{border-right:1px solid #147;}
#u-persistent-nav a#w3home {border-right:1px solid #147;}

#persistent-nav a#bluepages	{border-left:1px solid #8ae; border-right:1px solid #147;}
#u-persistent-nav a#bluepages{border-left:1px solid #8ae; border-right:1px solid #147;}

#persistent-nav a#helpnow	{border-left:1px solid #8ae; border-right:1px solid #147;}
#u-persistent-nav a#helpnow{border-left:1px solid #8ae; border-right:1px solid #147;}

#persistent-nav a#feedback	{border-left:1px solid #8ae; margin-left:1px;}
#u-persistent-nav a#feedback{border-left:1px solid #8ae;}

* html #persistent-nav a#feedback	{
	\margin-left:0px;
	mar\gin-left:0px;
	}

#header-search {position:absolute; top:4px; left:55%;}
#u-header-search{position:absolute; top:9px; left:65%;}

table.header-search td.label {
	font-weight:bold; color:#fff; font-size:11px;
	padding-top:.5em; padding-right:.3em;
	white-space:nowrap; text-align:right;
	}
table.u-header-search td.u-label{
	font-weight:bold; 
	color:#fff; 
	font-size:11px;
	padding-right:7px;
	text-align:right;
}

table.header-search td.field {height:1em; padding-left:.3em;}
table.u-header-search td.u-field{height:1em; padding-left:.3em;}

#header-search-field {width:100px; height:1em; font-size:1em; font-weight:normal;}
#u-header-search-field{width:100px; height:1em; font-size:11px; font-weight:normal;}

table.header-search td.submit {padding-left:.4em;}
table.u-header-search td.u-submit{padding-left:5px;}

table.header-search td.limiter {padding:0; font-size:10px; color:#fff;}
table.u-header-search td.u-limit-search {padding:0; font-size:10px; color:#fff;}

#ibm-logo	{position:absolute; right:13px; top:13px;}
#u-ibm-logo {position:absolute; right:10px; top:12px;}


/* ------- tabs ------- */
#tabs	{position:absolute; top:77px; left:6px; width:99%; padding:1px 0 0 0; font-size:.95em; background:#fff;}

#tabs span	{padding:4px 2px 7px 0;}
* html #tabs span	{paddi\ng:0 2px 0 1px;}

#tabs span.on	{padding:4px 3px 9px 0; background:url(../images/edge-tab-right-on.gif) right top no-repeat;}
* html #tabs span.on	{paddi\ng:0 3px 2px 0;}
#tabs span.off	{background:#cdcdcd url(../images/edge-tab-right-off.gif) right top no-repeat; border-bottom:2px solid #bbb;}

#tabs span a	{padding:4px 5px 7px 6px; color:#000; text-decoration:none;}
#tabs span a:hover	{color:#000; text-decoration:underline;}
#tabs span.on a	{font-weight:bold; border-top:2px solid #bbb; border-right:2px solid #bbb; border-left:2px solid #bbb; border-bottom:2px solid #fff;}
#tabs span.off a	{background:url(../images/bg-tab-off.gif) repeat-x;}

#rule	{padding:4px 0 7px 0; border-bottom:2px solid #bbb;}

#edit-layout	{position:absolute; top:85px; right:13px; color:#bdf; font-size:.9em;}
#edit-layout a	{padding:0 9px 1px 9px;}

.u-tabs{
	width:100%;
	margin:0px;
	padding:0px;
}
.u-pages{
	clear:both;
	background:#FFF url(../images/bg_tab.gif) bottom repeat-x;
	border:#ddd solid 1px;
	border-top:none;
	padding:19px 17px 15px 17px;
}

.page-tabs	{width:100%; margin:30px 0 0 0; font-size:.9em; background:#fff;}
.u-page-tabs{
	width:100%; 
	margin:0px; 
	font-size:13px; 
	background:#fff; 
	border-bottom:4px solid #666;
}


.page-tabs td	{border-bottom:2px solid #bbb; background:#cdcdcd url(../images/tab-bg.gif) right top repeat-x;}
.page-tabs td.on	{border-left:2px solid #bbb; border-bottom:2px solid #fff; background:#fff url(../images/tab-on-gray.gif) repeat-x;}
.page-tabs td.off	{}

.page-tabs div.tab	{background:url(../images/tab-edge.gif) left top repeat-y;}
.page-tabs td.on div.tab	{background:none;}
.page-tabs td.off div.tab	{}
.u-page-tabs td{}
.u-page-tabs td.on{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#666;
	border-right:1px solid #fff;
}
.u-page-tabs td.off{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	background-color:#ccc;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.u-page-tabs td.spec{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-style:italic;
	background-color:#C7E3BA;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}
.u-page-tabs div.tab{background:none;}
.u-page-tabs td.on div.tab{background:none;}
.u-page-tabs td.off div.tab{background:none;}
.u-page-tabs td.spec div.tab{background:none;}

.page-tabs  a	{display:block; padding:.5em 1em; color:#000; text-decoration:none; background:url(../images/tab-corner.gif) left top no-repeat;}
.page-tabs td.on  a	{font-weight:bold;}
.page-tabs td.off  a	{}

.u-page-tabs a{
	display:block; 
	padding:.5em 1em .5em 1em; 
	text-decoration:none;
}
.u-page-tabs td.on a{
	color:#fff;
}
.u-page-tabs td.off a{
	color:#666;
}
.u-page-tabs td.spec a{
	color:#666;
}
.page-tabs  a:hover	{color:#000; text-decoration:underline;}
.u-page-tabs a:hover{text-decoration:none;}

.page-tabs .empty	{width:5%; border-bottom:2px solid #bbb; background:#fff url(../images/tab-edge.gif) left top repeat-y; cursor:text;}
.page-tabs .empty a:hover	{text-decoration:none;}

.u-page-tabs .empty{width:5%; background-color:#fff;cursor:text;}
.u-page-tabs .empty a:hover{text-decoration:none;}



/* ------- article page font increase ------- */
.article #content-main {font-size:115%;} /* increase everything */

/* hold headings at normal size */
.article #content-main h1 {font-size:1.6em;}
.article #content-main h2 {font-size:1.4em;}
.article #content-main h2.small {font-size:1em;}
.article #content-main h3 {font-size:.9em;}
.article #content-main h4,
.article #content-main h5,
.article #content-main h6 {font-size:.85em;}
.article #content-main .bar-green-dark,
.article #content-main .bar-green-med-dark,
.article #content-main .bar-green-med-light,
.article #content-main .bar-blue-med-dark,
.article #content-main .bar-blue-med,
.article #content-main .bar-blue-med-light,
.article #content-main .bar-gray-dark,
.article #content-main .bar-gray-med-dark,
.article #content-main .bar-gray-med-light,
.article #content-main .bar-gray-light	{font-size:.9em;}

/* prevent common cascades from enlarging */
.article #content-main td p,
.article #content-main td li,
.article #content-main li p,
.article #content-main li li,
.article #content-main li td,
.article #content-main li th,
.article #content-main dd li,
.article #content-main dd td,
.article #content-main dd th,
.article #content-main dd p {font-size:100%;}

/*-------------- tables------------------- */

/* Sortable table */
table.tablesorter {
	font-family:arial;
	background-color: #FFFFFF;
	margin: 0px 0px 10px;
	font-size: 1.1em;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, 
table.tablesorter tfoot tr th,
table.tablesorter thead tr td, 
table.tablesorter tfoot tr td {
	background-color: #4477bb;
	border: 0px;
	font-size: 1.0em;
	padding: 0.3em 0.5em;
}
table.tablesorter thead tr th, table.tablesorter thead tr td {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 0.4em 0.5em;
	background-color: #f7f7f7;
	vertical-align: top;
}
table.tablesorter td ul {
    left: 0px;
	margin: 0px;
}
table.tablesorter tbody td, table.tablesorter tbody td ul li {
	color: #252525; /*#3D3D3D;*/
}
table.tablesorter tbody td ul li {
	font-size: 1.0em;
}
table.tablesorter tbody tr.odd td {
	background-color:#DDD;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc_white.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc_white.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #81bc61;
}

/* basic table */
table.basic-table {
	font-family:arial;
	background-color: #FFFFFF;
	margin: 0px 0px 10px;
	font-size: 1.1em;
	width: 100%;
	text-align: left;
}
table.basic-table thead tr th, 
table.basic-table tfoot tr th,
table.basic-table thead tr td, 
table.basic-table tfoot tr td {
	background-color: #4477bb;
	border: 0px;
	font-size: 1.0em;
	padding: 6px;
	color:white;
	font-weight:bold;
}
table.basic-table tbody td {
	padding: 6px;
	background-color: #f7f7f7;
	vertical-align: top;
}
table.basic-table tbody td, table.basic-table tbody td ul li {
	color: #252525; /*#3D3D3D;*/
}
table.basic-table tbody td ul li {
	font-size: 1.0em;
}
table.basic-table tbody tr.odd td {
	background-color:#DDD;
}

/* Admin help text */
.help, p.help { /*color:#99CC99;*/ color:blue!important; }

.button-blue input {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#6699CC url(../images/bg-btn-blue.gif) repeat-x scroll 0 0;
	border-color:#99CCFF #115599 #115599 #99CCFF;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-weight:bold;
	padding:0.17em 0 0.2em 0.17em;
	text-align:center;
}