/**
 * Style the login information in the masthead
 */
header {
    height: 160px;
}
#ibm-leadspace-head {
    height: 159px;
    background: url("/media/css/images/inventory_banner.jpg")
}

#ibm-leadspace-head h1 {
    font-family: "HelveticaNeue-Bold","HelvBoldIBM",Arial,sans-serif;
    color: #000;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 2.8125rem;
}

#personalization-links a {
    text-decoration: underline;
}
#personalization-links a:hover {
    color: #FFFFFF;
}
#changelist-filter {
    z-index: 0;
}
#ibm-menu-links li, #ibm-footer li {
    list-style-type:none;
}
#result_list th {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    max-width: 290px;
}

#result_list td, th {
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    vertical-align: top;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px !important;
}

.toplinks {
    background: url("/media/admin/css/../img/nav-bg-reverse.gif") repeat-x scroll 0 -10px white !important;
}

.toplinks, #changelist-filter {
    list-style-type:none !important;
    list-style:  none outside none !important;
    text-decoration: none !important;
}

.toplinks li a {
    list-style-type:none !important;
    text-decoration: none !important;
    list-style: none outside none !important;
}

#changelist-filter h3 {
    font-size: 11px !important;
    line-height: 14px;
}

#changelist-filter li {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
}

#changelist-filter h2 {
    font-size: 11px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    border-bottom: 1px solid #DDDDDD;
    padding: 2px 5px;
    width: 151px;
    text-align: left;
}

.object-tools {
    float:right;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: -2em !important;
    margin-top: -2.4em !important;
    padding-left: 0  !important;
    position: relative;
}

.object-tools li {
    list-style-type:none !important;
    list-style: none !important;
    text-decoration: none !important;
    background: url("/media/admin/css/../img/tool-left.gif") no-repeat scroll 0 0 transparent !important;
}

#changelist-filter ul li {
    padding: 0 0 2px 0px !important;
}

.object-tools li {
    padding: 0 0 5px 8px !important;
    display: block !important;
    float: left !important;
    height: 16px !important;
    margin-left: 2px !important;
    clear: none !important;
}

#changelist-filter ul,  #changelist-filter ol, #changelist-filter li {
    background: none repeat scroll 0 0 transparent !important;
    padding-top: 1px 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#changelist-filter li.selected {
    padding-left: 5px !important;
    margin-left: -10px;
}

#changelist-filter h3, #content-related h3 {
    margin: 5px 0px !important;
    padding-bottom: 0;
    font-weight: bold;
}

.toplinks li {
    background: none repeat scroll 0 0 transparent !important;
}

#content-main form h2, #content-related h2 {
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px 3px !important;
    margin: 0 !important;
    text-align: left !important;
}

.selector-chooser ul {
    margin-left: 0em !important;
    float: left
}

#content-main form p {
    padding-right: 2em;
    padding-top: 1px;
}

#productasset_form li, .selector-chooser li, .radiolist li {
    clear: none !important;
}

form .aligned p.help {
    padding-left: 70px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.inline-related h3 {
    font-size: 11px !important;
    margin: 0 !important;
    padding: 3px 5px !important;
}

.aligned label {
    display: block !important;
    float: left;
    padding: 3px 10px 0 0 !important;
}

.aligned .vCheckboxLabel {
    float: left !important;
    padding-left: 4px;
    display: inline;
}

.form-row ul li {
    list-style-type:none !important;
    list-style: none !important;
}

.selector-available, .selector-chosen {
    width: 350px;
}

.selector .selector-filter {
    padding: 3px !important;
}

.selector .selector-available input {
    clear: none;
    margin-left: 2px;
}

.selector select {
    margin-bottom: 5px;
    margin-top: 0;
    height: 17.2em !important;
}

.selector-filter {
    font-weight: normal;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 10px !important;
    color: #999999 !important;
}

.selector .selector-chosen .selector-filter {
    padding: 8px 5px 7px !important;
}

.selector-filter p {
    vertical-align: middle !important;
}

.selector ul.selector-chooser {
    float: left;
    height: 50px;
    margin: 8em 3px 0 !important;
    padding: 0 !important;
    width: 22px;
}

.selector-chooser li {
    list-style-type: none;
    margin: 0;
    padding: 3px !important;
}

.selector-add, .selector-remove {
    display: block;
    height: 16px !important;
    text-indent: -3000px;
    width: 16px;
}

.selector-add {
    margin-bottom: 2px;
}

.selector-remove {
    margin-top: 4px;
}

.selector-add, .selector-remove {
    display: block;
    height: 16px;
    text-indent: -3000px;
    width: 16px;
}

.actionlist {
    list-style-type: none !important;
    font-family: verdana,arial,helvetica,sans-serif !important;
}

.actionlist li:before {
    content: "";
}

#content-related h3 {
    color: #666666;
    font-size: 12px !important;
    margin-bottom: 3px;
}

.addlink, .changelink, .deletelink {
    padding-top: 0px !important;
    padding-left: 12px !important;
    font-size: 11px;
    line-height: 14px;
}

#recent-actions-module .addlink {
    background: url("/media/admin/css/../img/icon_addlink.gif") no-repeat scroll 0 0.2em transparent !important;
}

#recent-actions-module .changelink {
    background: url("/media/admin/css/../img/icon_changelink.gif") no-repeat scroll 0 0.2em transparent !important;
}

#recent-actions-module .deletelink {
    background: url("/media/admin/css/../img/icon_deletelink.gif") no-repeat scroll 0 0.2em transparent !important;
}

.form-row li {
    list-style-type: none !important;
    list-style: none !important;
    background: none !important;
}

form ul.radiolist li {
    list-style-type: none !important;
    list-style: none !important;
}

form ul.radiolist li label, .aligned ul li label{
    padding-left: 3px;
}

form ul.radiolist li:first-child label, .aligned ul li:first-child label{
    padding-left: 0px !important;
}

.toplinks li {
    clear: none !important;
    float: left !important;
}

td, th {
    border-bottom: 1px solid #EEEEEE;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    vertical-align: top;
}

.inline-group .tabular tr td.original {
    padding: 2px 0 0 !important;
    width: 0 !important;
}

.inline-group .tabular td.original p {
    color: #666666 !important;
    font-size: 9px !important;
    font-weight: bold;
    height: 1.1em;
    left: 0;
    overflow: hidden;
    padding: 2px 7px;
    position: absolute;
}


.submit-row {
    height: 26px;
}

ul.messagelist li {
    background: url("/media/admin/css/../img/icon_success.gif") no-repeat scroll 5px 0.3em #FFFFCC !important;
    padding: 4px 5px 4px 25px !important;
}

.errornote {
    color: red !important;
    padding: 4px 5px 4px 25px !important;
}

.errorlist li {
    background: url("/media/admin/css/../img/icon_alert.gif") no-repeat scroll 5px 0.3em red !important;
    padding: 4px 5px 4px 25px !important;
}

.paginator {
    border-top: 1px solid #DDDDDD !important;
    font-size: 11px !important;
    line-height: 22px !important;
    margin: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

#changelist .actions select {
    border: none;
    margin-left: 0;
    padding: 0;
}

.sortpriority {
    margin-left: 20px;
}

#changelist-filter {
    font-weight: bold;
    width: 161px;
}

div.ibm-selectlist-styled select,
    height: auto;
}

div.ibm-selectlist-styled:after {
    top: auto;
}

ul li {
    list-style-type: none;
}

.deletelink-box {
    padding-top: 0px !important;
}

.submit-row p {
    margin: 0;
}

.ibm-columns {
    padding-bottom: 30px;
}

.ibm-col-4-1 {
    padding-top: 40px;
}

#ibm-footer-module ul li {
    line-height: 1.625rem;
}

#ibm-footer-module ul li a {
    font-family: "HelvRegularIBM","Helvetica Neue",Arial,sans-serif;
}

#form_columns .button {
    font-size: 0.8rem;
}

.selector-available select {
    height: 14.9em !important;
}
