@import url(http://fonts.googleapis.com/css?family=Raleway:300);
      *,
      *:before,
      *:after {
      box-sizing: border-box;
      }

      html {
      height: 100%;
      }

      body {
      background-color: : blue;
      background-size: cover;
      font-family: 'Raleway', sans-serif;
      background-color: #342643;
      height: 100%;
      }

      .text-wrapper {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      }

      .title {
      font-size: 9em;
      font-weight: 700;
      color: white;
      position: relative;
      }

      .subtitle {
      font-size: 40px;
      font-weight: 700;
      color: white;
      position: relative;
      }

      .buttons {
      margin: 30px;
      }
      .buttons a.button {
      background-color: #342643;
      font-weight: 700;
      border: 2px solid white;
      text-decoration: none;
      padding: 15px;
      text-transform: uppercase;
      color: white;
      border-radius: 26px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      }
      .buttons a.button:hover {
      background-color: #4d3864;
      color: white;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      }

      @-webkit-keyframes noise-anim {
      0% {
        clip: rect(140px, 9999px, 130px, 0);
      }
      5% {
        clip: rect(172px, 9999px, 171px, 0);
      }
      10% {
        clip: rect(147px, 9999px, 154px, 0);
      }
      15% {
        clip: rect(174px, 9999px, 150px, 0);
      }
      20% {
        clip: rect(190px, 9999px, 97px, 0);
      }
      25% {
        clip: rect(113px, 9999px, 130px, 0);
      }
      30% {
        clip: rect(55px, 9999px, 40px, 0);
      }
      35% {
        clip: rect(75px, 9999px, 142px, 0);
      }
      40% {
        clip: rect(107px, 9999px, 113px, 0);
      }
      45% {
        clip: rect(6px, 9999px, 161px, 0);
      }
      50% {
        clip: rect(52px, 9999px, 110px, 0);
      }
      55% {
        clip: rect(148px, 9999px, 128px, 0);
      }
      60% {
        clip: rect(100px, 9999px, 71px, 0);
      }
      65% {
        clip: rect(146px, 9999px, 178px, 0);
      }
      70% {
        clip: rect(97px, 9999px, 120px, 0);
      }
      75% {
        clip: rect(183px, 9999px, 190px, 0);
      }
      80% {
        clip: rect(106px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(20px, 9999px, 52px, 0);
      }
      90% {
        clip: rect(29px, 9999px, 12px, 0);
      }
      95% {
        clip: rect(180px, 9999px, 151px, 0);
      }
      100% {
        clip: rect(172px, 9999px, 2px, 0);
      }
      }

      @keyframes noise-anim {
      0% {
        clip: rect(140px, 9999px, 130px, 0);
      }
      5% {
        clip: rect(172px, 9999px, 171px, 0);
      }
      10% {
        clip: rect(147px, 9999px, 154px, 0);
      }
      15% {
        clip: rect(174px, 9999px, 150px, 0);
      }
      20% {
        clip: rect(190px, 9999px, 97px, 0);
      }
      25% {
        clip: rect(113px, 9999px, 130px, 0);
      }
      30% {
        clip: rect(55px, 9999px, 40px, 0);
      }
      35% {
        clip: rect(75px, 9999px, 142px, 0);
      }
      40% {
        clip: rect(107px, 9999px, 113px, 0);
      }
      45% {
        clip: rect(6px, 9999px, 161px, 0);
      }
      50% {
        clip: rect(52px, 9999px, 110px, 0);
      }
      55% {
        clip: rect(148px, 9999px, 128px, 0);
      }
      60% {
        clip: rect(100px, 9999px, 71px, 0);
      }
      65% {
        clip: rect(146px, 9999px, 178px, 0);
      }
      70% {
        clip: rect(97px, 9999px, 120px, 0);
      }
      75% {
        clip: rect(183px, 9999px, 190px, 0);
      }
      80% {
        clip: rect(106px, 9999px, 4px, 0);
      }
      85% {
        clip: rect(20px, 9999px, 52px, 0);
      }
      90% {
        clip: rect(29px, 9999px, 12px, 0);
      }
      95% {
        clip: rect(180px, 9999px, 151px, 0);
      }
      100% {
        clip: rect(172px, 9999px, 2px, 0);
      }
      }

      .title:after {
      content: attr(data-content);
      position: absolute;
      left: 2px;
      text-shadow: -1px 0 red;
      top: 0;
      color: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
              animation: noise-anim 2s infinite linear alternate-reverse;
      }

      @-webkit-keyframes noise-anim-2 {
      0% {
        clip: rect(200px, 9999px, 135px, 0);
      }
      5% {
        clip: rect(42px, 9999px, 186px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 51px, 0);
      }
      15% {
        clip: rect(184px, 9999px, 87px, 0);
      }
      20% {
        clip: rect(21px, 9999px, 5px, 0);
      }
      25% {
        clip: rect(63px, 9999px, 65px, 0);
      }
      30% {
        clip: rect(9px, 9999px, 198px, 0);
      }
      35% {
        clip: rect(72px, 9999px, 130px, 0);
      }
      40% {
        clip: rect(87px, 9999px, 175px, 0);
      }
      45% {
        clip: rect(193px, 9999px, 66px, 0);
      }
      50% {
        clip: rect(164px, 9999px, 192px, 0);
      }
      55% {
        clip: rect(165px, 9999px, 170px, 0);
      }
      60% {
        clip: rect(60px, 9999px, 56px, 0);
      }
      65% {
        clip: rect(90px, 9999px, 179px, 0);
      }
      70% {
        clip: rect(66px, 9999px, 78px, 0);
      }
      75% {
        clip: rect(157px, 9999px, 73px, 0);
      }
      80% {
        clip: rect(69px, 9999px, 128px, 0);
      }
      85% {
        clip: rect(86px, 9999px, 59px, 0);
      }
      90% {
        clip: rect(134px, 9999px, 187px, 0);
      }
      95% {
        clip: rect(193px, 9999px, 123px, 0);
      }
      100% {
        clip: rect(169px, 9999px, 154px, 0);
      }
      }

      @keyframes noise-anim-2 {
      0% {
        clip: rect(200px, 9999px, 135px, 0);
      }
      5% {
        clip: rect(42px, 9999px, 186px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 51px, 0);
      }
      15% {
        clip: rect(184px, 9999px, 87px, 0);
      }
      20% {
        clip: rect(21px, 9999px, 5px, 0);
      }
      25% {
        clip: rect(63px, 9999px, 65px, 0);
      }
      30% {
        clip: rect(9px, 9999px, 198px, 0);
      }
      35% {
        clip: rect(72px, 9999px, 130px, 0);
      }
      40% {
        clip: rect(87px, 9999px, 175px, 0);
      }
      45% {
        clip: rect(193px, 9999px, 66px, 0);
      }
      50% {
        clip: rect(164px, 9999px, 192px, 0);
      }
      55% {
        clip: rect(165px, 9999px, 170px, 0);
      }
      60% {
        clip: rect(60px, 9999px, 56px, 0);
      }
      65% {
        clip: rect(90px, 9999px, 179px, 0);
      }
      70% {
        clip: rect(66px, 9999px, 78px, 0);
      }
      75% {
        clip: rect(157px, 9999px, 73px, 0);
      }
      80% {
        clip: rect(69px, 9999px, 128px, 0);
      }
      85% {
        clip: rect(86px, 9999px, 59px, 0);
      }
      90% {
        clip: rect(134px, 9999px, 187px, 0);
      }
      95% {
        clip: rect(193px, 9999px, 123px, 0);
      }
      100% {
        clip: rect(169px, 9999px, 154px, 0);
      }
      }

      .title:before {
      content: attr(data-content);
      position: absolute;
      left: -2px;
      text-shadow: 1px 0 blue;
      top: 0;
      color: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
              animation: noise-anim-2 3s infinite linear alternate-reverse;
      }