{% extends "admin/change_form.html" %}
{% load i18n %}

{% block styles %}
	<style type="text/css">
	    #id_username { width: 20em; }
        .inline-group { display: none; }
    </style>
{% endblock %}

{% block form_top %}
    <p>{% trans "First, enter the intranet id (example: johndoe@us.ibm.com)" %}</p>
    <input type="hidden" name="_continue" value="1" />
{% endblock %}

{% block endofbody %}
    <script type="text/javascript">document.getElementById("id_username").focus();</script>
{% endblock %}
