{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>403</title>
    <link rel="stylesheet" href="{% static 'css/error-pages.css' %}">
  </head>
  <body>
    <div class="text-wrapper">
        <div class="title" data-content="403">
            403
        </div>
        <div class="subtitle" data-content="Forbidden access">
            Forbidden access
        </div>

        <div class="buttons">
            <a class="button" href="/admin/">Back Home</a>
        </div>
    </div>
  </body>
</html>
