{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="{% static 'css/error-pages.css' %}">
  </head>
  <body>
    <div class="text-wrapper">
        <div class="title" data-content="404">
            404
        </div>

        <div class="subtitle" data-content="Oops, the page you're looking for doesn't exist">
            Oops, the page you're looking for doesn't exist.
        </div>

        <div class="buttons">
            <a class="button" href="/admin/">Back Home</a>
        </div>
    </div>
  </body>
</html>
