{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>500</title>
    <link rel="stylesheet" href="{% static 'css/error-pages.css' %}">
  </head>
  <body>
    <div class="text-wrapper">
        <div class="title" data-content="500">
            500
        </div>

        <div class="subtitle" data-content="Oops, Internal Server error">Oops, Internal Server error</div>

        <div class="buttons">
            <a class="button" href="/admin/">Back Home</a>
        </div>
    </div>
  </body>
</html>
