{% extends "base.html" %}
{% block styles %}
    <style type="text/css">
        .errorlist {
            color: red !important;
            font-weight: normal;
        }
        .required {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label class="required">{{ field.label }}{% if field.errors %}{{ field.errors }}{% endif %}</br>
            {{ field }}</br></br>
        {% endfor %}
        <div class="submit-row">
            <label>&nbsp;</label><div class="button-blue"><input type="submit" value="Submit" class="ibm-btn-arrow-pri" name="ibm-sign-in" /></div>
        </div>
    </form>
{% endblock %}
