{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title> {% block title %} {{ title }} {% endblock %} </title>
    {% block meta %} {% include "meta_v18.html" %} {% endblock %}

    <script src="http://1.www.s81c.com/common/stats/ida_stats.js"></script>
    <script src="http://1.www.s81c.com/common/v18/js/www.js"></script>
    <link href="http://1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
    <link href="https://www.ibm.com/account/ibmidutil/css/style_old.css" rel="stylesheet">
    <script type="text/javascript">
        IBMCore.common.util.config.set({
            "masthead": { "type":"alternate" },
            "footer": {
                "type": "alternate",
                "socialLinks": { "enabled": false }
            }
        });
    </script>
    <script defer src="{% static 'js/navigation.js' %}"></script>
    {% block styles %}{% endblock %}
    {% block defaultscripts %} {% endblock %}
    {% block scripts %}{% endblock %}

    <style type="text/css">
        #ibm-leadspace-body { padding: 15px !important; min-height: auto !important; }
        #ibm-content-body { padding-left: 3%; }
    </style>
</head>

<body id="ibm-com" class="ibm-type {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    <div id="ibm-top" class="ibm-liquid">
        {% include "masthead_v18.html" %}
        <div id="ibm-content-wrapper">
            <header role="banner" aria-labelledby="ibm-pagetitle-h1">
                <div id="ibm-leadspace-head" class="ibm-alternate" role="banner">
                    <div id="ibm-leadspace-body">
                    {% block breadcrumbs %} {% endblock%}
                    {% block content_title %}
                        {% if title %}
                            <h1 id="ibm-pagetitle-h1" class="ibm-h1">
                                {{ title }}
                            </h1>
                        {% endif %}
                    {% endblock %}
                    </div>
                </div>
                {% block ps_tabs %}
                {% endblock %}
            </header>
            <!-- Container -->
            <main role="main" aria-labelledby="ibm-pagetitle-h1">
                <div id="ibm-pcon">
                    <div id="ibm-content">
                        <div id="ibm-content-body">
                            <div id="ibm-content-main">
                                <div id="ibm-columns">
                                    <!-- begin content-->
                                    <div id="container" class="ibm-col-1-1 ibm-alternate-font">
                                            {% if messages %}
                                                <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                                            {% endif %}
                                            <!-- Content -->
                                            {% block object-tools %}{% endblock %}
                                            <div id="content" class="{% block coltype %}colM{% endblock %}">
                                                {% block pretitle %}{% endblock %}
                                                {% block content %} {{ content }} {% endblock %}
                                                {% block sidebar %}{% endblock %}
                                                <br class="clear" />
                                            </div> <!-- END Content -->
                                        </div> <!-- END Container -->
                                        {% block endofbody %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div id="ibm-footer-module"> </div>
        <!-- FOOTER_BEGIN -->
        <footer role="contentinfo" aria-label="IBM">
            <div id="ibm-footer">
                <h2 class="ibm-access">Footer links </h2>
                <ul>
                    <li><a href="//www.ibm.com/contact/us/en/">Contact</a></li>
                    <li><a href="//www.ibm.com/privacy/us/en/">Privacy</a></li>
                    <li><a href="//www.ibm.com/legal/us/en/">Terms of use</a></li>
                    <li><a href="//www.ibm.com/accessibility/us/en/">Accessibility</a></li>
                </ul>
            </div>
        </footer> <!-- FOOTER_END -->
    </div>
</body>
</html>
