<div id="ibm-masthead" role="banner" aria-label="IBM" class="ibm-mhtype-minimal">
    <div id="ibm-mast-options">
        <ul role="toolbar" aria-labelledby="ibm-masthead">
            <li id="ibm-geo" role="presentation">
                <a href="//www.ibm.com/planetwide/select/selector.html">United States</a>
            </li>
        </ul>
    </div>

    <div id="ibm-universal-nav" class="">
        <div id="ibm-home"><a href="http://localhost:8000/admin?lnk=m">IBM®</a></div>
        <ul id="ibm-menu-links" role="toolbar" aria-label="Site map" class="ibm-hide">
            <li><a href="//www.ibm.com/sitemap/us/en/">Site map</a></li>
        </ul>
        <div class="ibm-masthead-rightside" style="">
            <ul aria-label="Tools" role="menubar" class="ibm-masthead-iconsonly">
                <li role="presentation" class="ibm-masthead-item-signin"><button role="menubutton" class="ibm-profile-link">My IBM</button>
                    <ul id="ibm-signin-minimenu-container"
                        role="menu" aria-label="Profile" class="ibm-dropdown-menu">
                        <li role="presentation"><a role="menuitem" href="/admin/login">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul aria-label="Discover IBM" role="menubar" class="ibm-masthead-categories" style="display: block;">
            <li role="presentation" class="ibm-mh-mainitem">
                <a role="button" href="/admin/IBMauth" target="_self" tabindex="-1">IBM Auth</a>
            </li>
            <li role="presentation" class="ibm-mh-mainitem">
                <a role="button" href="/admin/CTAFramework/" target="_self" tabindex="-1">CTA Framework</a>
            </li>
            <li role="presentation" class="ibm-mh-mainitem">
                <a role="button" href="/admin/testing" target="_self" tabindex="-1">Testing</a>
            </li>
        </ul>
    </div>
</div>
<!-- MASTHEAD_END -->