{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript">
    dojo.ready(function(){
        setTimeout("go_to_wiki()", 7000);
    });

    function go_to_wiki(){
        window.location.href = "/";
    }
</script>
{% endblock %}
{% block content %}
    <p>
        Thanks for your access request, you will get a note soon if approved.
    </p>
{% endblock %}
