<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if change %}
    <div class="form-row field-version">
        <div>
            <label>Import commands from other versions</label>
            <select id="other_ibm_products" onclick="getCommands()" style="min-width: 200px;">
                <option value=0>Select IBM Product</option>
            </select>
            <br/>
            <select multiple id="other_commands" style="min-width: 200px;">
            </select>
            <input class="button" name="ibm-add-to-cart" value="Import" type="button" onclick="import_commands()"/>
            <p id="importing_status"></p>
            <p class='help'>Hold down "Control", or "Command" on a Mac, to select more than one.</p>
        </div>
    </div>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getCommands(){
            var product = $("#other_ibm_products").val();
            var csrftoken = getCookie('csrftoken');
            if (product != 0) {
                $.ajax({
                    type: "POST",
                    url: '/{{ opts.app_label.lower }}/{{ opts.app_label }}/{{ opts.model_name }}/{{ original.id }}/get_commands/' + product,
                    data: {
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function(data){
                        $("#other_commands").html(data);
                    },
                    onerror: function(error){
                        console.log(error);
                    }
                });
            }
            else {
                $("#other_commands").html("<option value=0>Select a product version</options>");
            }
        }

        function import_commands(){
            var other_commands = [];
            $('#other_commands :selected').each(function(i, selected){ 
                current = $(selected).val();
                if (current) {
                    other_commands[i] = $(selected).val();
                }
            });
            var csrftoken = getCookie('csrftoken');
            var product = $("#other_ibm_products").val();
            $("#importing_status").css("color", "blue");
            $("#importing_status").html("Importing commands");
            if (product != 0 && other_commands != '') {
                $.ajax({
                    type: "POST",
                    url: '/{{ opts.app_label.lower }}/{{ opts.app_label }}/{{ opts.model_name }}/{{ original.id }}/import_commands',
                    data: {
                        csrfmiddlewaretoken: csrftoken,
                        commands: other_commands
                    },
                    success: function(data){
                        if (data.indexOf("Error") > -1)
                            $("#importing_status").css("color", "red");
                        else
                            $("#importing_status").css("color", "green");
                        $("#importing_status").html(data);
                    },
                    onerror: function(error){
                        console.log(error);
                    }
                });
            }
            else {
                $("#importing_status").css("color", "red");
                $("#importing_status").html("Cannot import invalid commands");
            }
        }

        $(document).ready(function() {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "POST",
                url: '/{{ opts.app_label.lower }}/{{ opts.app_label }}/{{ opts.model_name }}/{{ original.id }}/get_products',
                data: {
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(data){
                    $("#other_ibm_products").html(data);
                    getCommands();
                },
                onerror: function(error){
                    console.log(error);
                }
            });
        });
    </script>
    {% endif %}
</fieldset>
