{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<style>
    .warning {
        background-color:yellow;
    }
</style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="../../">Ctaframework</a>
&rsaquo; <a href="../">IBM Products</a>
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% if import_messages %}
    <div id="id_message">
    </div>
    <script type="text/javascript">
        var messages = [];
        var sleeps = [];
        {% for message in import_messages %}
            setTimeout(function(){
                document.getElementById("id_message").innerHTML += "{{ message|safe }}";
            }, Math.floor((Math.random() * 100) + (100 * {{ forloop.counter }})));
        {% endfor %}
    </script>
{% else %}
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}
<div>
    {% if errors %}
        <p class="errornote">
        {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ adminform.form.non_field_errors }}
    {% endif %}
    <fieldset class="module aligned ">
        <div class="form-row {% if errors %}errors{% endif %} field-xml_file">
            {% if errors %}
            <ul class="errorlist">
                <li>{{ errors }}</li>
            </ul>
            {% endif %}
            <div>
                <label class="required" for="id_xml_file">File:</label>
                <input id="xml_file" maxlength="200" name="xml_file" type="file">
                <p class="help">You should use an XML with the next structure:
                    {{ content|safe }}
                </p>
            </div>
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Import" class="default">
    </div>
</div>
</form>
{% endif %}
</div>
{% endblock %}
