<!-- Angular Templates -->

<script type="text/ng-template" id="list.html">
  <label class="searchline">Filter: <input ng-model="searchText.info.name"/> </label>
  <ul dnd-list="list" class="nomaxi">
    <li ng-repeat="item in list  | filter:searchText"
        dnd-draggable="item"
        dnd-effect-allowed="copyMove"
        dnd-selected="models.selected = item"
        dnd-moved="containers.splice($index, 1)"
        ng-include="item.type + '.html'" >
    </li>
  </ul>
</script>

<script type="text/ng-template" id="item.html">
  <div class="item">
    {{item.info.name}}
    <div class="line1">
      <div ng-repeat="(wzone, wlist) in item"   class="line1">
        <div  ng-repeat="(xz, xw) in wlist" ng-if="xw.required || xw.value" class="line2">
          {{xw.command}}
          <div ng-if="item.info.key === 'kw' " class="line1">
            {{xw.value}}
          </div>
        </div>
      </div>
      <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="variable.html">
  <div class="item">
    ${ {{item.values[0].command}} } =  {{item.values[0].value}}
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button></h3>
    <div class="column nosearch" ng-repeat="list in item.innerdrop" ng-include="'list.html'"></div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="rvariable.html">
  <div class="item">
    {{item.values[0].command}}
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
    <div class="column nosearch" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="lista.html">
  <div class="item">
    @{ {{item.values[0].command}} } =  {{item.values[0].value}}
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button></h3>
    <div class="column nosearch" ng-repeat="list in item.innerdrop" ng-include="'list.html'"></div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="coments.html">
  <div class="item">
    Comment: {{item.values[0].command}}
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
  </div>
</script>

<script type="text/ng-template" id="tags.html">
  <div class="item">
    [ {{item.values[0].command}} ]:
    <div ng-repeat="(zone, list) in item.values[0].tags" class="tagone">
      {{list.text}}
    </div>
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
  </div>
</script>

<script type="text/ng-template" id="python.html">
  <div class="item">
    $ {{item.values[0].command}} : {{item.values[0].value}}
    <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
  </div>
</script>

<script type="text/ng-template" id="container.html">
  <div class="container-element box box-morado">
    <h3>{{item.id}}({{item.condition}})   <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button></h3>
    <div class="column nosearch" ng-repeat="list in item.innerdrop" ng-include="'list.html'"></div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="elcontainer.html">
  <div class="elcontainer-element box box-morado">
    <h3>
      for {{ item.values[0].condition1 }} {{ item.values[0].condition2 }} {{ item.values[0].condition3 }}
      <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
    </h3>
    <div class="column nosearch" ng-repeat="list in item.innerdrop" ng-include="'list.html'"> </div>
    <div class="clearfix"></div>
  </div>
</script>

<script type="text/ng-template" id="keyadd.html">
  <div class="item">
    {{ item.info.name }}
    <div class="line1">
      <div ng-repeat="(wzone, wlist) in item" class="line1">
        <div  ng-repeat="(xz, xw) in wlist track by $index" ng-if="xw.required || xw.value" class="line2">
          {{ xw.command }}
          <div ng-if="item.info.key === 'kw' " class="line1">
            {{ xw.value }}
          </div>
        </div>
      </div>
      <button type="button" ng-click="list.splice($index, 1)" class="deletecode"> x </button>
    </div>
    <div class="column nosearch" ng-repeat="list in item.innerdrop" ng-include="'list.html'"></div>
    <div class="clearfix"></div>
  </div>
</script>

<div class="row definition">
  <div class="col-md-12">
    <div class="agrouptabs separat">
      <h3  class="commands">Test case definition</h3>
      <div class="container model" ng-show="!showheads">̣
        <form action="" method="POST" id="testcase-form" name="mainForm">
          <div class="col-md-4">
            <div class="col-md-12">
              <div class="col-md-12">
                <span class="form-error" ng-show="mainForm.product.$error.required"> Required!</span>
                <label for="product"> Product: </label>
                <select id="product" name="product" ng-model="instance.product_id" ng-options="id as name for (id, name) in dropdown.products track by id" ng-change="update_items(instance.product_id)" required >
                  <option value="">-- Select a product --</option>
                </select>
              </div>
              <div class="col-md-12">
                <span class="form-error" ng-show="mainForm.repository.$error.required"> Required!</span>
                <label for="Suite"> Test Case Repository: </label>
                <select id="Suite" name="repository" ng-options="id as name for (id, name) in dropdown.repositories track by id" ng-model="instance.repository_id" required >
                  <option value="">-- Select a Test Case Repository --</option>
                </select>
              </div>
              <div class="col-md-12">
                <div class="col-md-12">
                  <label> Product version: </label>
                  <input type="hidden" name="product_version">
                </div>
                <div class="col-md-6">
                  <label for="fromversion">From: </label>
                  <input type="text" id="fromversion" value="{{ instance.fromversion}}" required>
                </div>
                <div class="col-md-6">
                  <label for="toversion">To:</label>
                  <input type="text" id="toversion" value="{{ instance.toversion }}" required>
                </div>
              </div>
              <div class="col-md-12">
                <span class="form-error" ng-show="mainForm.phase.$error.required"> Required!</span>
                <label for="Phase"> Phase </label>
                <select id="Phase" name="phase" value="{{ instance.phase }}" ng-options="id as name for (id, name) in dropdown.phases track by id" ng-model="instance.phase_id" required >
                  <option value="">-- Select a Phase --</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <label for="function"> Function: </label>
              <tags-input ng-model="tags"  ng-blur="models.selected[tz2] = tz2.value"  ng-if="$index !=1"></tags-input>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              <span class="form-error" ng-show="mainForm.name.$error.required"> Required!</span>
              <label for="nombre">Test case name: </label>
              <input type="text" id="name" name="name" placeholder="Test case name" value="{{ instance.name }}" ng-model="instance.name" required>
            </div>
            <div class="col-md-12">
              <div class="description">
                <span class="form-error" ng-show="mainForm.help_text.$error.required"> Required!</span>
                <label for="Description"> Description Test case: </label>
                <textarea id="help_text" name="help_text" ng-model="instance.help_text" required> {{ instance.help_text }} </textarea>
              </div>
            </div>
          </div>
          <input type="hidden" name="json_data" ng-model="instance.json_data" value="{{ instance.json_data }}">
          <input type="hidden" name="robot_data" ng-model="instance.robot_data" value="{{ instance.robot_data }}">
          <input type="hidden" name="id" ng-model="instance.id" value="{{ instance.id }}">
          <input type="hidden" name="tags" value="{{ instance.id }}">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row code-zone">
  <div class="col-md-3 col-sm-3">
    <div class="row firstsection">
      <div ng-repeat="(zone, list) in models.dropzones" ng-if="$index !=0" ng-class="{'malavida':$index === 1 }" >
        <div ng-if="$index <= 2 ">
          <div class="dropzone box box-yellow">
            <!-- The dropzone also uses the list template -->
            <h3 ng-click="showDetails = ! showDetails">{{ zone }}</h3>
            <div ng-include="'list.html'"  ng-show="showDetails"> </div>
          </div>
        </div>
      </div>
      <div class="agrouptabs">
        <h3 ng-click="showgroup = ! showgroup" class="commands"> Commands </h3>
        <div ng-repeat="(zone, list) in models.dropzones" ng-if="$index >2 && $index !==5" ng-class="{'malavida':$index === 1 }" ng-show="showgroup">
          <div class="dropzone box box-yellow">
            <!-- The dropzone also uses the list template -->
            <h3 ng-click="showDetails = ! showDetails">{{ zone }}</h3>
            <div ng-include="'list.html'"  ng-show="showDetails"> </div>
          </div>
        </div>
        <div ng-repeat="(zone, list) in models.dropzones" ng-if="$index >1 && $index ===5" ng-class="{'malavida':$index === 1 }" ng-show="showgroup">
          <div class="dropzone box box-yellow circlered">
            <h3 ng-click="showDetails = ! showDetails">{{ zone }}</h3>
            <div ng-include="'list.html'"  ng-show="showDetails"> </div>
          </div>
        </div>
      </div>
    </div>
    <div view-source="nested"></div>
  </div>

  <div class="code-wrapper col-md-9 col-sm-9">
    <div class="col-md-7 col-sm-7 runtimes" id="casemain-nav">
      <div ng-repeat="(zone, list) in models.dropzones" class="col-md-12 dropzoneheig" ng-if="$index == 0">
        <div class="dropzone box box-yellow fixedclass">
          <h3 id="scrollfix"> Create Test-Case </h3>
          <div ng-include="'list.html'" class="contentmain"></div>
          <button type="button" name="button" class="run-code run-codedos" ng-click="sedarray()" data-toggle="modal" data-target="#myModal">Preview Test Case</button>
        </div>
      </div>
      <div class="generatearray"> </div>
    </div>
    <!-- Sidebar -->
    <div class="col-md-5 col-sm-5" id="casenav-nav">
      <aside class="">
        <div ng-if="models.selected " class="box box-grey box-padding">
          <h3> {{ models.selected.info.name }} <span class="ibm-information-link iconsibm" title="{{ models.selected.info.help_text }}"></span></h3>
          <div class="theinput" id="options">
            <div ng-repeat="(a1, b1) in models.selected" ng-if="$index >1 && $index <=2 && models.selected.info.name === 'for'">
              <div ng-repeat="(a2, b2) in b1">
                <label class="resultado">
                  Variable 1
                  <input type="text"  ng-model="b2.condition1" placeholder="Variable 1"  ng-blur="models.selected[b2] = b2.condition1"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
                <label class="resultado">
                  <b>{{ b2.condition2 }}</b>
                </label>
                <label class="resultado">
                  Variable 2
                  <input type="text"  ng-model="b2.condition3" placeholder="Variable 2"  ng-blur="models.selected[b2] = b2.condition3"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              </div>
            </div>

            <div ng-repeat="(a1, b1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='$variable' ">
              <div ng-repeat="(z1, z2) in b1">
                <label class="resultado" title="{{z2.comment}}">
                  Variable name
                  <input type="text"  ng-model="z2.command" placeholder="Name" ng-blur="models.selected[z2] = z2.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              <label class="resultado" title="{{z2.comment}}">
                  Value
                  <input type="text"  ng-model="z2.value" placeholder="Value"  ng-blur="models.selected[z2] = z2.value"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              </div>
            </div>

            <div ng-repeat="(e2, e1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='@list' ">
              <div ng-repeat="(z2, z3) in e1">
                <label class="resultado" title="{{z3.comment}}">
                  Name List
                    <input type="text"  ng-model="z3.command" placeholder="Name List"  ng-blur="models.selected[z3] = z3.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
                <label class="resultado" title="{{z3.comment}}">
                  Values
                  <input type="text"  ng-model="z3.value" placeholder="Values"  ng-blur="models.selected[z3] = z3.value"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              </div>
            </div>

            <div ng-repeat="(ap1, bp1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='$comment' ">
              <div ng-repeat="(zp1, zp2) in bp1">
                <label class="resultado" title="{{zp2.comment}}">
                  $Comentario
                  <textarea  ng-model="zp2.command" placeholder="Comentario"  ng-blur="models.selected[zp2] = zp2.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"></textarea>
                </label>
              </div>
            </div>

            <div ng-repeat="(rap1, rbp1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='$python' ">
              <div ng-repeat="(rzp1, rzp2) in rbp1">
                <label class="resultado" title="{{rzp2.comment}}">
                  Command:
                  <input  ng-model="rzp2.command" placeholder="Comand"  ng-blur="models.selected[rzp2] = rzp2.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1">
                </label>
              </div>
            </div>

            <div ng-repeat="(wap1, wbp1) in models.selected" ng-if="$index >1 && $index <=2&& models.selected.info.name==='[TAG]' ">
              <div ng-repeat="(tz1, tz2) in wbp1" ng-if=" $index === 0">
                <label class="resultado" title="{{tz2.comment}}">
                  Name:
                  <input type="text"  ng-model="tz2.command" placeholder="Name"  ng-blur="models.selected[tz2] = tz2.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              </div>
            </div>

            <div ng-repeat="(wap1, wbp1) in models.selected" ng-if=" $index >1 && $index <=2&& models.selected.info.name==='[TAG]' "
              title="{{tz2.comment}}">
              <div ng-repeat="(wap3, wbp2) in wbp1">
                <tags-input ng-model="wbp2.tags" ng-blur="models.selected[wbp2] = wbp2.tags" ng-if="$index !=1" id="abc"></tags-input>
              </div>
            </div>

            <div ng-repeat="(key11, value22) in models.selected" ng-if="(models.selected.info.name !== 'if' && models.selected.info.name !== 'for' && models.selected.info.name !== '$comment' && models.selected.info.name !== '$variable'&&  models.selected.info.name !== '@list' )">
              <div ng-repeat="(key1, value2) in value22">
                <label ng-if="value2.required === true && value2.input === 'checkbox'" class="resultado" title="{{value2.comment}}">
                  {{value2.command}}
                  <input type="hidden"  value="1" ng-model="value2.value"  ng-blur="models.selected[key1] = value2.value"  />
                  <input type="checkbox" checked disabled class="form-control" style="margin-top: 5px" />
                </label>
                <label ng-if="value2.required === false && value2.input === 'checkbox' " class="resultado" title="{{value2.comment}}">
                  {{value2.command}}
                  <input type="checkbox" ng-model="value2.value"    ng-blur="models.selected[key1] = value2.value"  class="form-control" style="margin-top: 5px" />
                </label>
                <label ng-if=" value2.input === 'text' " title="{{value2.comment}}">
                  {{value2.command}}
                  <input type="text" ng-model="value2.value" ng-blur="models.selected[key1] = value2.value"     class="form-control" style="margin-top: 5px" />
                </label>
              </div>
            </div>

            <div ng-repeat="(rap1, rbp1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='$rsetting' ">
              <div ng-repeat="(rzp1, rzp2) in rbp1">
                <label class="resultado" title="{{rzp2.comment}}">
                  Setting:
                  <input  ng-model="rzp2.value"  ng-blur="models.selected[rzp2] = rzp2.value"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1">
                </label>
              </div>
            </div>

            <div ng-repeat="(e2, e1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='@rlist' ">
              <div ng-repeat="(z2, z3) in e1">
                <label class="resultado" title="{{z3.comment}}">
                  Title
                  <input type="text"  ng-model="z3.command"  ng-blur="models.selected[z3] = z3.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
                </div>
              </div>

              <div ng-repeat="(e2, e1) in models.selected" ng-if="$index >1 && $index <=2 &&  models.selected.info.name==='@rkeyword' ">
                <div ng-repeat="(z2, z3) in e1">
                  <label class="resultado" title="{{z3.comment}}">
                  Name
                  <input type="text"  ng-model="z3.command"  ng-blur="models.selected[z3] = z3.command"  class="form-control" style="margin-top: 5px"  ng-if="$index !=1"/>
                </label>
              </div>
            </div>
          </div>
        </div>


        <div ng-if="models.selected && models.selected.advanced" class="box box-grey box-paddings">
          <h3 ng-click="showAdvanced = ! showAdvanced" class="pointers"> Advanced Options</h3>
          <div class="theinput" id="advanced">
            <div ng-repeat="(xa1, xb1) in models.selected.advanced" ng-show="showAdvanced" class="advancedoverflow">
              <div ng-repeat="(el1, ele2) in xb1">
                {{el1}}
                <input type="text" ng-model="ele2" ng-blur="models.selected.advanced[ele2]=ele2" class="form-control" style="margin-top: 5px">
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"   ng-click="closemodal()"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Robot Preview</h4>
        <span class="form-error" ng-show="mainForm.$error.required"> Fill all the required fields to save </span>
      </div>
      <div class="modal-body">
        <pre id="robot-preview" class="wordstyle" >
          <code class="language-python"> {{ preview }} </code>
        </pre>
        <!-- TODO: add Run input fields and add fields to form before submit -->
        <form name="runForm">
          <div class="col-md-12">
            <label for="nombre">Host </label>
            <input type="text" id="host" name="host" placeholder="Server host" value="{{ run_testcase.host }}" ng-model="run_testcase.host" required>
          </div>
          <div class="col-md-12">
            <label for="nombre">User </label>
            <input type="text" id="user" name="user" placeholder="Server user" value="{{ run_testcase.user }}" ng-model="run_testcase.user" required>
          </div>
          <div class="col-md-12">
            <label for="nombre">Password </label>
            <input type="password" id="passw" name="passw" placeholder="User password" value="{{ run_testcase.passw }}" ng-model="run_testcase.passw" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closemodal()"  >Close</button>
        <button type="button" class="btn btn-info"    data-dismiss="modal" ng-click="save_data(false, true)" ng-disabled="runForm.$error.required">Run Script</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save_data()" ng-disabled="mainForm.$error.required">Save Test Script</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="save_data(true)" ng-disabled="mainForm.$error.required">Save As New Test Script</button>
      </div>
    </div>
  </div>
</div>
